# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# caches
.cache
*.cache
.eslintcache

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase config (should be replaced with actual config)
# Uncomment this if you want to keep your Firebase config private:
# src/firebase.js
